body{
    font-family: 'Itim', cursive;
font-family: 'Merriweather', serif;
}

h1{
    font-size: 50px;
}
h3{
    font-size: 40px;
    color:red;
}
p{
    color:coral;
}
.class-highlight{
    color:coral;
}
.half-width{
    width: 40%;
    float: left;
}
.half-width img{
    width: 50%;
}